<div id="navbar" class="bp3-navbar bp3-dark">
  <div id="headerMainLogo" class="bp3-navbar-group bp3-align-left">
      <a class="bp3-button bp3-minimal" href="/">
          <div id="navbarLogo" class="bp3-navbar-heading">
              Facts About Oranges Blog
          </div>
      </a>
  </div>
  <div class="bp3-navbar-group bp3-align-right">
      <a class="bp3-button bp3-minimal" href="https://www.factsaboutoranges.com/">About</a>
      <a class="bp3-button bp3-minimal" href="/">Blog</a>
      <span class="bp3-navbar-divider"></span>
      <a class="bp3-button bp3-intent-warning bp3-icon-arrow-right" style="margin-right: 5px;" href="https://app.factsaboutoranges.com/">Get Some Facts</a>
  </div>
</div>